{% extends '_base/base.html' %} {% load static %} {% block title%}
<title>Joshua</title>
{% endblock title%} {% block content%}
<div class="index-header">
	<h4>{{ user.name}}</h4>
	<div>
		{%for level in levels%}
		<span class="spans">{{level.education}}</span>
		{% endfor %}
	</div>
</div>
<div class="item">
	<div>
		<a href="{% url 'about' %}">about</a>
	</div>
</div>
<div class="item">
	<div>
		<a href="{% url 'projects' %}">projects</a>
	</div>
</div>
<div class="item">
	<div>
		<a href="mailto:ajujoshua2019@gmail.com">contact us</a>
	</div>
</div>

{% endblock content%} {% block footer%}
<span class="spans s2">linkedin</span>
<span class="spans s2">gmail</span>
<span class="spans s2">Facebook</span>

{% endblock footer%} {% block script%}
<script>
	var welcomeText = "welcome to my portflio";
</script>
{% endblock script%}
